.baner {
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: $EurostileLTStd-Demi;

    a {
        text-decoration: none;
    }

    .container-baner {
        padding-top: 225px;
    }

    &__text {
        padding: 65px 80px 35px 30px;
        background: rgba($color: #000000, $alpha: .7);
        display: inline-block;
        color: white;
        font-size: 34px;
        margin-bottom: 120px;

    }

    &__contact {
        display: inline-block;
        margin-top: 55px;
        font-size: 16px;
        padding: 20px 20px 20px 25px;
        background-color: #ffdd00;
        transition: all .5s;

        &:hover {
            box-shadow: 10px 10px rgba(255, 255, 255, .7);
        }

    }

    .contact__link {
        font-family: $Helvetica;
        font-weight: 700;
        color: #000;
    }

    &__text>span {

        color: #ffdd00;

    }

    .icon-arrow-black {
        margin-left: 7px;
    }

    &__find {
        background-color: #ffdd00;
    }

    .find__text {
        margin-right: 100px;

        p:first-child {
            font-size: 38px;
            font-family: $EurostileLTStd-Demi;
            margin-bottom: 5px;
        }

        p:last-child {
            font-size: 16px;
        }
    }

    .container-baner__find {
        display: flex;
        // padding: 0 40px;
        align-items: flex-end;
        padding-top: 30px;
        padding-bottom: 40px;
        font-family: $Helvetica;
        font-weight: 700;
    }

    .marker-img {
        margin-right: 25px;
    }

    &__input {
        min-height: 55px;
        min-width: 220px;
        padding-left: 15px;
        color: #bababa;
        border: 1px solid #bababa;
        font-size: 18px;
    }

    &__btn {
        padding: 20px 40px;
        background-color: #db302c;
        color: #fff;
        font-size: 18px;
        transition: all .3s;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
        }

    }
}


@media (max-width:450px) {
    .baner {
        .container-baner {
            padding-top: 400px;

            &__find {
                flex-direction: column;
                align-items: center;
            }

        }

        .find__text {
            margin: 0;
            text-align: center;

            p {
                margin-bottom: 20px;

                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }


    }
}

@media (max-width:350px) {
    .baner {
        .container-baner {
            padding-top: 550px;
        }

        &__input{
            margin-bottom: 20px;
        }
    }
}

@media (min-width:460px) and (max-width:800px ) {
    .baner {
        .container-baner {
            padding-top: 400px;
        }

        &__input{
            margin-bottom: 10px;
        }
    }
}