.news {

    a {
        text-decoration: none !important;
    }

    &__title {
        font-family: $EurostileLTStd-Demi;
        font-size: 32px;
        color: #db302c;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .posts {
        margin-bottom: 55px;
    }

    .post {
        padding: 0;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;

        margin-right: 20px;
        max-width: 32%;

        &:last-child {
            margin-right: 0;
        }

        &__img-wrap {
            position: relative;
            margin-bottom: 10px;
        }

        &__img {
            width: 100%;
        }

        &__date {
            position: absolute;
            top: 0;
            left: 15px;
            padding: 10px 15px;
            background-color: #ffdd00;
            text-align: center;

            .month {
                font-family: $EurostileLT;
                font-size: 16px;
                letter-spacing: 1.44px;
                margin-bottom: 8px;
            }

            .day {
                font-family: $EurostileLT;
                font-size: 28px;
            }
        }

        &__title {
            font-family: $EurostileLTStd-Demi;
            font-size: 28px;
            margin-bottom: 10px;
            padding: 0 15px;


        }

        &__discription {
            font-family: $Helvetica;
            font-size: 16px;
            line-height: 24px;
            padding: 0 15px;
            margin-bottom: 25px;

        }

        &__author {
            padding: 15px;
            font-family: $Helvetica;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;

        }
    }

    .news-link-wrap {
        text-align: center;
    }

    .news-link-wrap{
        .link--news {
            display: inline-block;
            text-decoration: none;
            font-family: $Helvetica;
            font-weight: 700;
            padding: 25px 55px;
            font-size: 16px;
            background-color: #ffdd00;
            text-align: center;
            margin-bottom: 60px;
            color: black;
            transition: all .3s;
    
            &:hover {
                box-shadow: 10px 10px rgba(0, 0, 0, .7);
            }
        }
    }

}


@media(max-width:450px) {
 

    .news{
        .post{
            max-width: 100%;
            margin: 0;
            margin-bottom: 40px;

        }
    }
}


@media (min-width:460px) and (max-width:800px) {
    .news{
        .container{
            max-width: 700px;            
        }
        .post{
            max-width: 30%;
            &__title{
                font-size: 20px;
            }
        }
    }
}

@media (min-width:1020px)  {
    .news{
        .post{
            max-width: 30%;
            &__title{
                font-size: 30px;
            }
        }
    }
}

