
/* Dots */
.slick-dotted.slick-slider{
    margin-bottom: 30px;
	
}
.slick-dots{
    display: flex;
	justify-content: center;
	margin-bottom: 35px;
}
.slick-dots li {
    // float: left;
    margin: 0 8px 0 0 ;
    cursor: pointer;
	border-color: black;
}
.slick-dots li:last-child {
    margin-right: 0;
}
.slick-dots li.slick-active button {
    background-color: black;
}
.slick-dots li button {
    display: block;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    cursor: pointer;
    color: transparent;
	background-color: #fff;
	border-color: black;

	&:focus{
		outline: none;
	}
	
}