* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body,
html {
	min-height: 100%;
	width: 100%;
}


// Main styles

.container{
	max-width: 1200px;
	padding: 0;
}


// .slick-dots li:nth-child(2) button {
//     background-image: url(../img/gp2.jpg);
// }
// .slick-dots li:nth-child(3) button {
//     background-image: url(../img/gp3.jpg);
// }
// .slick-dots li:nth-child(4) button {
//     background-image: url(../img/gp4.jpg);
// }